{% block title %}Dropbox{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
<h2>Dropbox</h2>
<p>
    Cette page va vous permettre d'envoyer de la musique à mettre en rotation à l'antenne,
    après validation et prise en charge par notre technicien&middot;ne bien aimé&middot;e.
</p>
<p>
    Quelques indications à suivre pour que votre envoi soit vraiment utilisé :
</p>
<ul>
    <li>Vérifiez que le nom des fichiers contient au moins le numéro de piste et le titre</li>
    <li>Vérifiez les tags</li>
    <li>Pas besoin de dater</li>
	<li>
		Si en cours de route il se passe un truc bizarre, racontez votre histoire dans tous ses détails
		dans un e-mail aux permanents.
	</li>
    <li>Si vous envoyez un album saisi dans disco, mettez aussi le n° de disque ci-dessous</li>
</ul>

<p>Merci !</p>

<div class="row">
	<div class="col-sm-8">
		<form class="form-horizontal" method="post" action="{{path('dropbox_uploader')}}">
		<fieldset>

		<!-- Form Name -->
		<legend>Avant d'envoyer, donnez un nom au paquet que vous nous avez préparé !</legend>

		<div class="row col-lg-12">
			<!-- Text input-->
			<div class="form-group">
			  <div class="col-md-8">
			    <input id="upload_name" name="upload_name" placeholder="" class="form-control input-md" type="text">
			  </div>
			</div>
			<button name="upload" type="submit" class="btn btn-block btn-info btn-lg">
				C'est parti <span class="glyphicon glyphicon-upload"></span>
			</button>
		</div>
		</fieldset>
		</form>
	</div>
</div>

{% endblock %}
